[submodule "static/code/calc"]
	path = static/code/calc
	url = https://github.com/xinxinw1/calc
[submodule "static/code/lisp-repl"]
	path = static/code/lisp-repl
	url = https://github.com/xinxinw1/lisp-repl
[submodule "static/code/sigfig"]
	path = static/code/sigfig
	url = https://github.com/xinxinw1/sigfig
[submodule "static/code/factor"]
	path = static/code/factor
	url = https://github.com/xinxinw1/factor
[submodule "static/code/cont-frac"]
	path = static/code/cont-frac
	url = https://github.com/xinxinw1/cont-frac
[submodule "static/code/frac-dec"]
	path = static/code/frac-dec
	url = https://github.com/xinxinw1/frac-dec
[submodule "static/code/progress-bar"]
	path = static/code/progress-bar
	url = https://github.com/xinxinw1/progress-bar
[submodule "static/code/day-month-year"]
	path = static/code/day-month-year
	url = https://github.com/xinxinw1/day-month-year
[submodule "static/code/breakfast"]
	path = static/code/breakfast
	url = git@github.com:xinxinw1/breakfast.git
