extends layout.pug

block vars
  - title="404"
  - description="This page doesn't exist! Who knows, maybe it'll start existing in the future?"

block content
  h1 Page Not Found
  
  p This page doesn't exist! Who knows, maybe it'll start existing in the future?
