extends layout.pug

block vars
  - title="Code"
  - description="Here is a listing of some programming projects I've created or worked on:"

mixin program(name, link, source, desc)
  p.code-title #[a(href=link) #{name}] (#[a(href=source) source code])
  p.code-desc= desc

block content
  h1 Code
  
  p Note: Each program listed here is released under separate licenses. See their respective GitHub pages for more info.
  
  p Here is a listing of some programming projects I've created or worked on:
  
  +program('Complex Number Calculator', '/code/calc/', 'https://github.com/xinxinw1/calc', 'A JavaScript-based calculator that I wrote from scratch which uses arbitrary precision arithmetic and can handle complex numbers.')
    
  +program('xin-xin.me', '/', 'https://github.com/xinxinw1/xin-xin.me', 'This website, which I designed and coded myself. It uses Node.js with Express and the Pug (formerly Jade) template engine.')
  
  +program('WriTeX', 'http://writer.xin-xin.me', 'https://github.com/xinxinw1/writer', "A math-focused text editor capable of easily typing equations directly into documents. Written in a team of 4 during EngHack, University of Waterloo Engineering Society's hackathon, in Spring 2016.")
  
  +program('Lisp Interpreter and Compiler', '/code/lisp-repl', 'https://github.com/xinxinw1/lisp-repl', "This isn't ready to be released yet, but it's a Lisp interpreter for the browser or Node.js. With this, you can write Lisp code and get it compiled into JavaScript. The dialect of Lisp I'm using is my own version based on Paul Graham's Arc Lisp.")
  
  +program('Simple Instant Message', '/php/message/', 'https://github.com/xinxinw1/message', "An online instant messaging program inspired by the Pidgin chat client. Enter \"hey\" as the document name. Note: The server admin (ie. me) can read everything!")
  
  hr
  
  p Here are some small tools (mostly math-related) that might be helpful for you:
  
  +program('Factoring Integers', '/code/factor', 'https://github.com/xinxinw1/factor', "Input any valid js number into the box, and it automatically gets factored.")
  
  +program('Continued Fractions', '/code/cont-frac', 'https://github.com/xinxinw1/cont-frac', "Converts a number between the decimal, fraction, and continued fraction forms. \"func\" lets you define a continued fraction using two js functions.")
  
  +program('Fraction to Decimal', '/code/frac-dec', 'https://github.com/xinxinw1/frac-dec', "Converts a fraction to repeated decimal form.")
  
  +program('Significant Figures Calculator', '/code/sigfig', 'https://github.com/xinxinw1/sigfig', "An easy to use calculator that follows chemistry significant figure rules. I wrote this to replace a low quality Windows program that my Grade 11 Chemistry teacher used to use with his class. He recommends this program with his class now. :)")
  
  +program('Online Text Editor', '/php/text-edit/', 'https://github.com/xinxinw1/text-edit', "An online text editor that you can host on your website to easily and quickly access your important text documents from any of your devices.")
  
  hr
  
  p Here are some small demos of cool things that could be used in a real website at some point. These are released under the public domain or #[a(href="https://creativecommons.org/publicdomain/zero/1.0/") CC0], so feel free to use them wherever:
  
  +program('Simple Progress Bar', '/code/progress-bar', 'https://github.com/xinxinw1/progress-bar', 'A simple HTML, CSS, and JS "progress bar". Move your mouse over the bar to see it in action.')
  
  +program('Percent of Day, Month, Year', '/code/day-month-year', 'https://github.com/xinxinw1/day-month-year', 'Shows what percent of the current day, month, or year is over. Also centers the "progress bar" both horizontally and vertically.')
