extends layout.pug

block vars
  - title="Under Construction"
  - description="Wait for it... this page will have real content soon!"

block content
  h1 Under Construction
  
  p Wait for it... this page will have real content soon!
