html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Raleway")
    link(rel="stylesheet", href="/css/main.css")
    script(src="/js/main.js")
  body
    #outer
      .table
        .tr
          header.td
            .margin
              .table
                .td Xin-Xin Wang
                nav.td
                  ul#nav-hori
                    li: a(href="#") Code
                    li: a(href="#") Math
                    li: a(href="#") Music
                    li: a(href="#") Contact
                  #nav-drop-cont
                    ul#nav-drop
                      li: a(href="#") Code
                      li: a(href="#") Math
                      li: a(href="#") Music
                      li: a(href="#") Contact
                    a#nav-link(href="#")
                      img(src="/img/menu.png", width="26", height="26")
        .tr
          article.td
            .margin
              h1 About Me
              
              p Hi! My name is Xin-Xin. I do lots of different things. Here are some of the things I've posted on this site:
      
              p Articles - When I think others can use ideas or methods that I've figured out, I write articles to help them.
              
              p Music - I love playing piano and I think my playing is good enough for people to listen to. When I feel like it, I also do composing, transcribing, and arranging. In the music section, you can find out when and where I will be performing, listen to recordings of my playing, and download my compositions and transcriptions.
      
              p Programming - On the code page, I post links to various programs I wrote. Most of them are math related. There is a program for factoring integers, one that converts fractions to decimals and shows the repeated digits, a four-in-one page about continued fractions, and an arbitrary precision calculator.
      
              p Math - I love solving math problems, so on the math page, you can find derivations of formulas and identities, and interesting problems I've solved.
      
              p School - I think conventional (public and private) school has some serious problems. It does very little to help kids live significant, impactful, and extraordinary lives, and too often overwhelms them with pointless and tedious busywork. Because of that, I'm trying to design a better system that kids will actually like to go to.
        .tr
          footer.td
            .margin
              p &copy; 2016 Xin-Xin Wang
              p This website is #[a(href="https://github.com/xinxinw1/xin-xin.me") open source]!
    #overlay
