extends layout.pug

block vars
  - title_full="Xin-Xin Wang"
  - description="Hi! My name is Xin-Xin. Or maybe you know me as Dong Fang Wang. I'm currently a fourth-year Computer Science student at the University of Waterloo."

block content
  h1 About Me
  
  p Hi! My name is Xin-Xin. Or maybe you know me as Dong Fang Wang. I'm currently a fourth-year Computer Science student at the University of Waterloo. I do lots of different things. Here are some of the things I've posted on this site:
  
  p #[span.b Programming] - In the #[a(href="/code") code section], I post links to various programs I wrote. Most of them are math related. There is a program for factoring integers, one that converts fractions to decimals and shows the repeated digits, a four-in-one page about continued fractions, and an arbitrary precision complex number calculator.

  p #[span.b Math] - I love solving math problems, so in the #[a(href="/math") math section], you can find derivations of formulas and identities, and interesting problems I've solved.

  p #[span.b Music] - I love singing and playing piano. When I feel like it, I also do composing, transcribing, and arranging. In the #[a(href="/music") music section], you can find out when and where I will be performing, listen to recordings of my playing, and download my compositions and transcriptions.
