doctype html
block vars
html(lang="en", id=pageid)
  head
    meta(charset="utf-8")
    block title
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Raleway")
    link(rel="stylesheet", href="/css/main.css")
    script(src="/js/main.js")
    block head
  body
    #outer
      header
        .table
          .td: a(href="/") Xin-Xin Wang
          nav.td
            ul#nav-hori
              li: a(href="/code") Code
              li: a(href="/math") Math
              li: a(href="/music") Music
              li: a(href="/contact") Contact
            #nav-drop-cont
              ul#nav-drop
                li: a(href="/code") Code
                li: a(href="/math") Math
                li: a(href="/music") Music
                li: a(href="/contact") Contact
              a#nav-link(href="#")
                img(src="/img/menu.png", width="26", height="26", alt="Menu")
      block article
        article
          block content
      footer
        p &copy; 2016 Xin-Xin Wang
        p This website is #[a(href="https://github.com/xinxinw1/xin-xin.me") open source] and is licensed under #[a(href="https://creativecommons.org/licenses/by-nd/4.0/") CC BY-ND].
    #overlay
