extends layout.pug

block vars
  - title="Music"
  
mixin comp(comp)
  p.comp-title-line
    span.comp-title #[a(href='/music/' + comp.short + '/' + comp.mainLink)= comp.title]
    span.comp-date= comp.date
  p.comp-desc= comp.desc
  
  p
    each link, i in comp.links
      if i == comp.links.length-1
        a.no-wrap(href='/music/' + comp.short + '/' + link[0])= link[1]
      else 
        | #[a.no-wrap(href='/music/' + comp.short + '/' + link[0])= link[1]] | 
  
  hr

mixin compFirst(comp)
  hr
  +comp(comp)

block content
  h1 Music
  
  h2 Compositions
  
  p Here are some of my (better) compositions:
  
  each comp, i in compositions
    if i == 0
      +compFirst(comp)
    else
      +comp(comp)
  
  h2 Piano Performances
