extends ../layout.pug

block vars
  - title="Property-based testing vs example-based testing"
  - description=title

block content
  h1= title
  p.subtitle September 11, 2018

  :markdown
    Last term, from March to August 2018, I had an internship at [Stripe](https://stripe.com/), an online payment processing company based in San Francisco. I learned a lot of things at Stripe, but the thing I want to talk about today is *property-based testing*.

    ## What is property-based testing?

    Before this term, I only knew how to write what are called *example-based tests*. These are the tests most people write where you pass specific input examples to your program and assert that the output is some specific expected output. For example, this is an example-based test:

    ```scala
    def sort(seq: Seq[Int]): Seq[Int] = ???

    test("sorts Seq(5, 2, 3) correctly") {
      sort(Seq(5, 2, 3)) shouldBe Seq(2, 3, 5)
    }
    ```

    Here, we have a specific example input, `Seq(5, 2, 3)`, and we compare the output to a specific example output, `Seq(2, 3, 5)`
